<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

</head>

<body>
    <div th:each="actor:${actors}">
        <span th:text="${actor.getName()}"></span>
    </div>
    <form action="/actors" method="post">
        <p>Name: <input type="text" name="name"/></p>
        <p>Famous Role: <input type="text" name="famousRole"/></p>
        <p>Special skill: <input type="text" name="specialSkill"/></p>
        <p>
            <button type="submit">Save actor!</button>
        </p>
    </form>
</body>
</html>